{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
<link href='https://fonts.googleapis.com/css?family=Pattaya' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Platypi' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Reem Kufi Ink' rel='stylesheet'>
{% endblock %}

{% block content %} 


    <div class="main">
        <div class="header">
            <h2> Hey, there. </h2>
            <h5>Welcome to my world!! </h5>
        </div>
        <div class="page">
            <h3> I'm Oluwakayode.</h3>
             <p> Hello! I'm Awotimilehin Oluwakayode, 
            a passionate software engineer hailing from Nigeria. 
            With a strong foundation in JavaScript, Python, and 
            their extensive libraries, I specialize in crafting 
            innovative solutions that drive efficiency and performance. 
            My journey in software development is fueled by a love for 
            learning and a commitment to delivering high-quality, 
            scalable software. Whether it's building dynamic web 
            applications, developing powerful scripts, or exploring 
            new technologies, I'm always eager to take on new 
            challenges and contribute to the ever-evolving world of 
            tech. Welcome to my blog, where I share insights, projects, 
            and my journey in the world of software engineering.
            </p>
        </div>
    </div>
    
{% endblock %}